<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <meta name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
     user-scalable=0' > 
    <title>MandiSahiRate.Online</title>
    <link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/new.css">

</head>

<body>

    <div id="container">




        <div id="block1">


            <div id="slogan">

                <p> जय जवान जय किसान </p>

            </div>


            <div id="menu">

                <ul>
    
                    <li> <a href="index.ejs ">घर</a> </li>
                    <li> <a href="#">  हमसे संपर्क करें  </a> </li>
                    <li> <a href="#">  हमारे बारे में  </a> </li>
    
    
                </ul>

            </div>

        </div>

        
        <div id="block2"> </div>
        <div id="block3">


        <p id="state">मध्य प्रदेश</p>

        <p id="district"> कृपया अपनी मंडी चुनें

        </p>


        <div id="dname">

  <ul>


    <li  > <a href="3.ejs"> गाडरवारा</a></li>
    <li  > <a href="#"> करेली</a></li>
  </ul>

        </div>

        </div>
        
        
    </div>

    
            <footer>

                <P id="F">
    
                    सभी अधिकार सुरक्षित © MandiSahiRate 2020
    
                </P>

            </footer>

        




</body>

</html>