<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>MandiSahiRate.Online</title>
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/new.css">

    
</head>

<body>

    <div id="container">



        <div id="block1">


            <div id="slogan">

                <p> जय जवान जय किसान </p>

            </div>


            <div id="menu">

                <ul>
    
                    <li> <a href="index.ejs">घर</a> </li>
                    <li> <a href="contact.ejs">  हमसे संपर्क करें  </a> </li>
                    <li> <a href="#">  हमारे बारे में  </a> </li>
    
    
                </ul>

            </div>

        </div>

        
        <div id="block2">


            

          <div id="block21">


            <div class="box"> <a href="4.ejs"> गेहूँ </a> </div>
            <div class="box"> <a href="5.ejs"> चना  </a> </div>
            <div class="box"> <a href="6.ejs"> राहर  </a> </div>
            <div class="box"> <a href="7.ejs">मूंग</a> </div>
            <div class="box"> <a href="8.ejs">धान (P1) </a> </div>


          </div>



          <div id="block22">



            <div class="box"> <a href="9.ejs">क्रांति धान </a> </div>
            <div class="box"> <a href="10.ejs"> धान (1121)</a> </div>
            <div class="box"> <a href="11.ejs">सोयाबीन</a> </div>
            <div class="box"> <a href="12.ejs">मसूर</a> </div>
            <div class="box"> <a href="13.ejs">उड़द </a> </div>


          </div>


          <div id="block23">



            <div class="box"> <a href="14.ejs">मक्का</a> </div>
            <div class="box"> <a href="15.ejs">बटरी </a> </div>
            <div class="box"> <a href="#">- - -</a> </div>
            <div class="box"> <a href="#">- - -</a> </div>
            <div class="box"> <a href="#">- - -</a> </div>


          </div>
          
    
            
            
    
        
        
        </div>




        <div id="block3">


          <div class="cname">  <p> गाडरवारा  </p> </div>

            <div class="cname">

                <p>मसूर</p>
            </div>


            <div class="gover">

  
  <p >
    सरकारी दर : 3950 रुपये</p>


            </div>


   <div>

    <table class="insidetable"  id="w">
       
       
       
      <tr>
      
      <th>क्रमांक</th>
      <th>तारीख</th>
      <th> के बीच में </th>
      <th> उतार चढ़ाव</th>
      
      
      
      </tr>
      
      <% price.forEach(function(row){ %>

        <tr>
           <td><%= row.serial %></td>
           <td><%= row.date %></td>
           <td><%= row.masoorprice %></td>
           <td><%= row.Ricemasoorprice %></td>
        </tr>


   <%  }) %>
      
      
      
      </table>


   </div>

         
    

        </div>


        
      </div>
        
            
           <footer>

                <P id="F">
    
                    सभी अधिकार सुरक्षित © MandiSahiRate 2020
    
                </P>

            </footer>
        




</body>

</html>