<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>MandiSahiRate</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    
    <div id="block1">
             

        
        <div id="slogan">

            <p> जय जवान जय किसान </p>

        </div>


        <div id="menu">

            <ul>

                <li> <a href="index.ejs">घर</a> </li>
                <li> <a href="contact.ejs">  हमसे संपर्क करें  </a> </li>
                <li> <a href="#">  हमारे बारे में  </a> </li>


            </ul>

        </div>

    </div>


    <h1 class="contact">

        <!-- This Website Is Made By Manohar Patel  -->

        यह वेबसाइट मनोहर गुर्जर द्वारा निर्मित है
    </h1>


    <h1 class="contact">

        <!-- I Am A Son Of Farmer   -->

        मैं किसान का बेटा हूँ
    </h1>
        

    <h1 class="contact">

        <!-- By Using This Website You Can Get Mandi Rates From Your Home  -->
        इस वेबसाइट का उपयोग करके आप अपने घर से मंडी दरें प्राप्त कर सकते हैं

    </h1>

    <h1 class="contact ">

        <!-- You Can Contact Me At : -->
        आप मुझसे संपर्क कर सकते हैं:
       

    </h1>

    <h1 class="contact ">

        <a href="https://www.facebook.com/manohar.patel.528316"> फेसबुक </a>
       
       

       

    </h1>
    <h1 class="contact ">

      
       
        <a href="https://instagram.com/manohar_patel_007?igshid=el4jwrj6nfv0"> इंस्टाग्राम </a>
       

    </h1>
    <h1 class="contact ">

       
        
        <a href="#"> और         ट्विटर         पर </a>

       

    </h1>


    
</body>
</html>