<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MandiSahiRate.Online</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/new.css">


</head>

<body>

    <div id="container">




        <div id="block1">



            <div id="slogan">

                <p> जय जवान जय किसान </p>

            </div>


            <div id="menu">

                <ul>

                    <li> <a href="index.ejs">घर</a> </li>
                    <li> <a href="contact.ejs"> हमसे संपर्क करें </a> </li>
                    <li> <a href="#"> हमारे बारे में </a> </li>


                </ul>

            </div>

            <div class="login">
                <a href="login.ejs"> Login </a>
            </div>



        </div>


        <div id="block2">



        </div>


        <div id="block3">


            <div id="go">
                <a href="1.ejs"> मंडी दरें </a>
            </div>

           







        </div>


    </div>

    <footer>

        <P id="F">

            सभी अधिकार सुरक्षित © MandiSahiRate 2020

        </P>

    </footer>





</body>

</html>