<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MandiSahiRate.Online</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

   
    <div id="block1">



        <div id="slogan">

            <p> जय जवान जय किसान </p>

        </div>


        <div id="menu">

            <ul>

                <li> <a href="index.ejs">घर</a> </li>
                <li> <a href="contact.ejs"> हमसे संपर्क करें </a> </li>
                <li> <a href="#"> हमारे बारे में </a> </li>


            </ul>

        </div>

      



    </div>
   
     
<div class="mandiname">Please  Fill All The Rates Carefully . </div>

    <div class="mandiname">
        <a href="register"> Gadarwara mandi  </a>
    </div>

    <div class="mandiname">
        <a href="registerkareli"> Kareli Mandi  </a>
    </div>


    <footer>

        <P id="F">

            सभी अधिकार सुरक्षित © MandiSahiRate 2020

        </P>

    </footer>
</body>
</html>