<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MandiSahiRate.Online</title>
    <link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/new.css">

</head>
<body>
    <h1 id="sir">Please Fill Today's  Rate Of Kareli Mandi  :) </h1>


    <div id="faram">

<form action="/registerkareli" method="post">


    <input type="text" name="karelidate" id="" placeholder="Today's Date ">
    <input type="text" name="kareliserial" id="" placeholder="Serial no. ">

<input type="text" name="kareliwheatprice" id="" placeholder="kareliWheatprice">
<input type="text" name="karelichanaprice" id="" placeholder="karelichanaprice">
<input type="text" name="kareliraharprice" id="" placeholder="kareliraharprice">
<input type="text" name="karelimoongprice" id="" placeholder="karelimoongprice">
<input type="text" name="karelidhanprice" id="" placeholder="karelidhanprice">
<input type="text" name="karelikrantidhanprice" id="" placeholder="karelikrantidhanprice">
<input type="text" name="karelinumdhanprice" id="" placeholder="karelinumdhanprice">
<input type="text" name="karelisoyabeanprice" id="" placeholder="karelisoyabeanprice">
<input type="text" name="karelimasoorprice" id="" placeholder="karelimasoorprice">
<input type="text" name="kareliudhadprice" id="" placeholder="kareliudhadprice">
<input type="text" name="karelimakkaprice" id="" placeholder="karelimakkaprice">
<input type="text" name="karelibatriprice" id="" placeholder="karelibatriprice">

<!-- Rice and fall -->

<input type="text" name="Ricekareliwheatprice" id="" placeholder="ERice/Fall Of kareliWheatprice">
<input type="text" name="Ricekarelichanaprice" id="" placeholder="Rice/Fall Of karelichanaprice">
<input type="text" name="Ricekareliraharprice" id="" placeholder="Rice/Fall Of kareliraharprice">
<input type="text" name="Ricekarelimoongprice" id="" placeholder="Rice/Fall Of karelimoongprice">
<input type="text" name="Ricekarelidhanprice" id="" placeholder="Rice/Fall Of karelidhanprice">
<input type="text" name="Ricekarelikrantidhanprice" id="" placeholder="Rice/Fall Of karelikrantidhanprice">
<input type="text" name="Ricekarelinumdhanprice" id="" placeholder="Rice/Fall Of karelinumdhanprice">
<input type="text" name="Ricekarelisoyabeanprice" id="" placeholder="Rice/Fall Of karelisoyabeanprice">
<input type="text" name="Ricekarelimasoorprice" id="" placeholder="Rice/Fall Of karelimasoorprice">
<input type="text" name="Ricekareliudhadprice" id="" placeholder="Rice/Fall Of kareliudhadprice">
<input type="text" name="Ricekarelimakkaprice" id="" placeholder="Rice/Fall Of karelimakkaprice">
<input type="text" name="Ricekarelibatriprice" id="" placeholder="Rice/Fall Of karelibatriprice">






<input type="submit" value="Sumbit" id="sumbit">



</form>

    </div>
</body>
</html>