<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MandiSahiRate.Online</title>
    <link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/new.css">

</head>
<body>
    <h1 id="sir">Please Fill Today's  Rate Of Kareli Mandi  :) </h1>


    <div id="faram">

<form action="/registerkareli" method="post">

<!-- 
    <input type="text" name="date" id="" placeholder="Enter Today's Date ">
<input type="text" name="rice" id="" placeholder="Enter Today's price Fall/Rice">
<input type="text" name="serial" id="" placeholder="Enter Serial no. "> -->

<input type="text" name="kareliwheatprice" id="" placeholder="Enter kareliWheatprice">
<input type="text" name="karelichanaprice" id="" placeholder="Enter karelichanaprice">
<input type="text" name="kareliraharprice" id="" placeholder="Enter kareliraharprice">
<input type="text" name="karelimoongprice" id="" placeholder="Enter karelimoongprice">
<input type="text" name="karelidhanprice" id="" placeholder="Enter karelidhanprice">
<input type="text" name="karelikrantidhanprice" id="" placeholder="Enter karelikrantidhanprice">
<input type="text" name="karelinumdhanprice" id="" placeholder="Enter karelinumdhanprice">
<input type="text" name="karelisoyabeanprice" id="" placeholder="Enter karelisoyabeanprice">
<input type="text" name="karelimasoorprice" id="" placeholder="Enter karelimasoorprice">
<input type="text" name="kareliudhadprice" id="" placeholder="Enter kareliudhadprice">
<input type="text" name="karelimakkaprice" id="" placeholder="Enter karelimakkaprice">
<input type="text" name="karelibatriprice" id="" placeholder="Enter karelibatriprice">






<input type="submit" value="Sumbit" id="sumbit">



</form>

    </div>
</body>
</html>