<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MandiSahiRate.Online</title>
    <link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/new.css">

</head>
<body>
    <h1 id="sir">Please Fill Today's  Rate Of Gadarwara Mandi:) </h1>


    <div id="faram">

<form action="/register" method="post">


    <input type="text" name="date" id="" placeholder="Enter Today's Date ">
<input type="text" name="rice" id="" placeholder="Enter Today's price Fall/Rice">
<input type="text" name="serial" id="" placeholder="Enter Serial no. ">

<input type="text" name="wheatprice" id="" placeholder="Enter Wheatprice">
<input type="text" name="chanaprice" id="" placeholder="Enter chanaprice">
<input type="text" name="raharprice" id="" placeholder="Enter raharprice">
<input type="text" name="moongprice" id="" placeholder="Enter moongprice">
<input type="text" name="dhanprice" id="" placeholder="Enter dhanprice">
<input type="text" name="krantidhanprice" id="" placeholder="Enter krantidhanprice">
<input type="text" name="numdhanprice" id="" placeholder="Enter numdhanprice">
<input type="text" name="soyabeanprice" id="" placeholder="Enter soyabeanprice">
<input type="text" name="masoorprice" id="" placeholder="Enter masoorprice">
<input type="text" name="udhadprice" id="" placeholder="Enter udhadprice">
<input type="text" name="makkaprice" id="" placeholder="Enter makkaprice">
<input type="text" name="batriprice" id="" placeholder="Enter batriprice">






<input type="submit" value="Sumbit" id="sumbit">



</form>

    </div>
</body>
</html>