*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{

    /* background-image: url('/images/4.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;  
      color: black;
    


 } 

#container{

width: 100vw ;
height: 100vh ;
background-color: aquamarine;




}

#block1{
    
    /* background-color: red; */

    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 2px solid black;
}




ul{

    display: flex;
    padding-left: 50px;
 
 
 }


 #dname ul{


    display: flex;
    padding-left: 50px;
    flex-direction: column;

 }
 
 #slogan{
 
     display: flex;
    justify-content: center;
    align-items: center;
 
 
 
 width: 50vw;
 /* background-color: yellowgreen; */
 font-size: 45px;
 font-weight: bold;
 padding: 0px;
 text-align: center;
 word-spacing: 10px;
 color: white;
 
 }
 
 #menu{
 
    display: flex;
    width: 50vw;
    /* background-color: violet; */
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    padding-left: 0px;

 
 }
 
 li{
 
 
     list-style: none;
     margin: 30px;
     
 }
 
 a{
 
 
     text-decoration: none;
     color: white;
 }

 #go{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    width: 220px;
    height: 100px;
    background-color: tomato;
    border-radius: 40px;
    position: relative;
    top: 170px;
    left: 650px;
}
 
 
 




#block2{

    /* background-color: rgb(9, 86, 27);  */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 305px;
    margin-top: 15px;
    
    /* border-bottom: 2px solid black; */


}


#block21{

    /* background-color: rgb(86, 9, 26); */
    display: flex;
    width: 100%;
    height: 100px;
  

}

#block22{

    /* background-color: rgb(230, 122, 7); */
    display: flex;
   width: 100%;
   height: 100px;


}



#block23{

    /* background-color: rgb(230, 122, 7); */
    display: flex;
   width: 100%;
   height: 100px;


}


#block3{

    /* background-color: rgb(48, 17, 115); */

    position: relative;
    top: 15px;
    height: 550px;
    width: 100%;
    
}




footer{
     
     
    background-color:black;
    position: relative;
    top: 28px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


 }  


#F{

display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: white;
font-size: 26px;
font-weight: bold;

}




/*  CSS FOR 1.html and 2.html  */ 


#state{
    /* background-color: aqua; */
    width: 400px;
    margin: 10px auto;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 75px;
}





#district{
    /* background-color: rgb(73, 8, 144); */

    
    width: 900px;
    margin: 10px auto;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 110px;
}






#dname{
    /* background-color: rgb(93, 177, 8); */

    
    width: 985px;
    margin: 10px auto;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 28px;
}


/*  CSS FOR 3.html */ 


.welcome{

    width: 730px;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    border-radius: 45px;
    margin: 10px;
    position: relative;
    top: 200px;
    left: 310px;

}



/*   CSS FOR 4.html */ 






.box{


    background-color: rgb(45, 81, 69);
    text-align: center;
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 15px;
    margin: 2px;
    border: 2px solid black;
    width: 300px;


}




.insidetable{
    border-collapse: collapse;
    margin: 0px;
    min-width: 1000px;
    text-align: center;
    min-height: 350px;
    position: relative;
    top: 72px;
    left: 200px;
    font-size: 30px;

}




.insidetable tbody tr{

    border-bottom: 1px solid brown;

    /* background-color:rgb(74, 160, 74); */
}
.gover{
   

    
    width: 420px;
    height: 50px;
    background-color: rgb(174, 111, 66);
    position: relative;
    top: 40px;
    left: 450px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 6px;
    color: white;
}
    


.cname{
  
    
    width: 408px;
    height: 65px;
    background-color: rgb(174, 111, 66);
    position: relative;
    top: 15px;
    left: 450px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    color: white;
}


#w tbody tr    {

    background-color:black;
    color:white;
}

 

#c tbody tr    {

    background-color:black;
    color:white;
}

#a tbody tr    {

    background-color:black;
    color:white;
}

#m tbody tr    {

    background-color:black;
    color:white;
}

#p tbody tr    {

    background-color:black;
    color:white;
}







 